parameters:
    level: 6
    checkMissingIterableValueType: false
    checkGenericClassInNonGenericObjectType: false
    paths:
        - src
    bootstrapFiles:
        - phar://PharBuilder/PocketMine-MP.phar/vendor/autoload.php
    scanDirectories:
        - src
        - NGEssentials/src
        - WorldStyler/src
    excludePaths:
        analyse:
            - src/MyPlot/provider