parameters:
    level: 6

    checkMissingIterableValueType: false
    checkGenericClassInNonGenericObjectType: false

    paths:
        - /source/src
    bootstrapFiles:
        - phar:///source/PharBuilder/PocketMine-MP.phar/vendor/autoload.php
    scanDirectories:
        - /source/src
        - /source/NGEssentials/src
        - /source/WorldStyler/src
    excludes_analyse:
        - /source/src/MyPlot/provider/EconomySProvider.php
        - /source/src/MyPlot/provider/PocketMoneyProvider.php